In [1]:
import pandas as pd
import cleaning as clean
from bs4 import BeautifulSoup
import json
import csv

### In this file we will look up the information in the datasets, and clean and filter it for our interests

In [2]:
##input folder-> movies_data1 file
movies1=clean.open_csv()

Please, enter the folder where your cvs file is saved:
input
Please, enter the name for the cvs file you want to open without extension:
movies_data1

In [3]:
movies1.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [4]:
movies1.shape

(16744, 17)

In [5]:
#Firsts of all, we clean white spaces in columns' names:
clean.rename_columns(movies1)

In [6]:
# UNnamed:0 is a kind of index that we don't neeed; we will drop that column. The same happens with ID
movies1['Unnamed:_0'].unique()

array([    0,     1,     2, ..., 16741, 16742, 16743])

In [7]:
##As Rotten_Tomatoes column has a 70% of null values, we will aslso drop that column
clean.rounding_value(movies1.Rotten_Tomatoes.isnull().sum()/movies1.shape[0])*100

69.0

In [8]:
#As we see in the dataset description, movies have type zero (type 1 for TV series)
movies1=movies1[movies1['Type']==0]

In [9]:
movies1=clean.drop_columns(movies1,'Unnamed:_0','ID','Rotten_Tomatoes')

In [10]:
movies1.head()

,Title,Year,Age,IMDb,Netflix,Hulu,Prime_Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [22]:
movies1.loc[movies1['Directors']=='Sergio Leone']

,Title,Year,Age,IMDb,Netflix,Hulu,Prime_Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
4,"The Good, the Bad and the Ugly",1966,18+,8.8,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
15,Once Upon a Time in the West,1968,13+,8.5,1,0,1,0,0,Sergio Leone,Western,"Italy,United States","Italian,English,Spanish",165.0

In [23]:
movies1.loc[movies1['Country']=='Spain']

,Title,Year,Age,IMDb,Netflix,Hulu,Prime_Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
35,Klaus,2019,7+,8.2,1,0,0,0,0,"Sergio Pablos,Carlos Martínez López","Animation,Adventure,Comedy,Family",Spain,"English,Saami",96.0
69,The Invisible Guest,2016,18+,8.1,1,0,0,0,0,Oriol Paulo,"Crime,Mystery,Thriller",Spain,Spanish,106.0
92,The Platform,2019,18+,7.0,1,0,0,0,0,Galder Gaztelu-Urrutia,"Horror,Sci-Fi,Thriller",Spain,Spanish,94.0
217,Mirage,2018,18+,7.4,1,0,1,0,0,Oriol Paulo,"Drama,Mystery,Romance,Thriller",Spain,Spanish,128.0
492,The Photographer of Mauthausen,2018,18+,6.7,1,0,0,0,0,Mar Targarona,"Biography,Drama,History,Thriller,War",Spain,"Spanish,German",110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15294,Hooked Up,2013,NaN,3.9,0,0,1,0,0,Pablo Larcuen,"Comedy,Horror,Thriller",Spain,English,78.0
15579,Bunker: Project 12,2016,NaN,3.3,0,0,1,0,0,Jaime Falero,"Action,Adventure,Sci-Fi,Thriller",Spain,English,97.0
15771,Dragon Guardians,2013,7+,4.8,0,0,1,0,0,"Ángel Izquierdo,Ricardo Ramón",Animation,Spain,Spanish,73.0
15863,Belli Don,2018,NaN,NaN,0,0,1,0,0,Emilio Martínez Lázaro,"Comedy,Romance",Spain,"Basque,Spanish,Catalan",99.0
15944,Bye,2013,NaN,NaN,0,0,1,0,0,Paco Cabezas,"Drama,Thriller",Spain,Spanish,111.0

In [11]:
# Our dataset is ready for analysis
clean.export_csv(movies1)
#movies1 dataset to src folder

Please, enter the name for the cvs file you want to exportmovies1

'movies1 has been exported to cvs file'

In [ ]:
##input folder-> movies_data1 file
movies2=pd.read_csv('../input/movies_data2.csv',encoding='latin-1')

In [14]:
##as we can see, cast and crew columns are JSON format, so we must explode them to take out information
movies.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
cast = json.loads(movies['cast'][0])

In [13]:
cast[80].keys()

dict_keys(['cast_id', 'character', 'credit_id', 'gender', 'id', 'name', 'order'])

In [6]:
crew = json.loads(movies['crew'][0])

In [12]:
crew[80].keys()

dict_keys(['credit_id', 'department', 'gender', 'id', 'job', 'name'])